<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>
        .container {
            background-color: lightgrey;
            border-radius: 10px;
            margin-top: 150px;
            width: 300px;
            height: 500px;
            padding-top: 20px;
            text-align: center;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }

    </style>

</head>
<body>

<!--<th:block th:replace="fragments/navbar :: nav"> navbar </th:block>-->

<div class="container">

    <form action="item.html" th:action th:object="${loginForm}" method="post">

        <h2 >Login</h2>

        <div style="margin: 15px;">
            <label for="loginId">로그인 ID</label>
            <input style="width: 200px; margin: auto;" type="text" id="loginId" class="form-control" name="username"
                   th:field="*{loginId}">
            <div class="field-error" th:errors="*{loginId}" />
        </div>

        <div style="margin: 10px;">
            <label for="password">비밀번호</label>
            <input style="width: 200px; margin: auto;" type="password" id="password" class="form-control" name="password"
                   th:field="*{password}">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <div th:if="${#request.getAttribute('failAlert')} != null">
            <p class="field-error" th:text="${#request.getAttribute('failAlert')}">전체 오류 메시지</p>
        </div>

        <button type="submit" class="btn btn-primary" style="width: 200px; margin-top: 20px;">로그인</button>
        <button type="button" class="btn btn-primary" style="width: 200px; margin-top: 20px;" th:onclick="|location.href='@{/}'|">메인으로</button>

    </form>

</div>

</body>
</html>