<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>
        .container {
            border: 1px solid red;
            margin-top: 150px;
            width: 300px;
            height: 500px;

            text-align: center;
        }

        .form-container {
            width: 50%;
        }

        .form-image {
            width: 50%;
        }

    </style>

</head>
<body>

<!--<th:block th:replace="fragments/navbar :: nav"> navbar </th:block>-->

<div class="container">

    <form action="" th:action th:object="${member}" method="post">

        <div>회원가입</div>

        <div style="margin: 10px;">
            <label for="loginId">로그인 ID</label>
            <input style="width: 200px; margin: auto;" type="text" id="loginId" class="form-control"
                   th:field="*{loginId}">
        </div>
        <div style="margin: 10px;">
            <label for="password">비밀번호</label>
            <input style="width: 200px; margin: auto;" type="password" id="password" class="form-control"
                   th:field="*{password}">
        </div>
        <div style="margin: 10px;">
            <label for="name">별명</label>
            <input style="width: 200px; margin: auto;" type="text" id="name" class="form-control"
                   th:field="*{name}">
        </div>

        <hr>

        <button type="submit" class="btn btn-primary" style="width: 200px; margin-top: 20px;">가입하기</button>
        <button type="button" class="btn btn-primary" style="width: 200px; margin-top: 20px;" th:onclick="|location.href='@{/}'|">메인으로</button>

    </form>
</div>

</body>
</html>