<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>

    </style>
</head>
<body>

<nav th:replace="fragments/navbar :: nav"> navbar </nav>

<section class="board" style=" margin: auto; margin: 60px;">

    <h2>게시판</h2>
    <hr style="height: 2px; background-color: black;">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <th th:text="${board.seq}" scope="row">1</th>
            <td th:text="${board.registerMember}">Mark</td>
            <td th:text="${board.subject}">Otto</td>
            <td th:text="${board.registerDate}">2021-07-16</td>
            <td th:text="${board.viewCount}">조회수</td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: space-between;">

        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/board/write}'|">글쓰기</button>

        <nav aria-label="Page navigation example">
            <ul style="margin: auto" class="pagination">
                <li class="page-item"><a class="page-link" href="#">처음</a></li>
                <li class="page-item"><a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                <li class="page-item"><a class="page-link" href="#">끝</a></li>
            </ul>
        </nav>
    </div>

</section>

</body>
</html>