<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>

    </style>
</head>
<body>

<nav th:replace="fragments/navbar :: nav"> navbar </nav>

<section class="board" style=" margin: auto; margin: 60px;">

    <h2>게시판</h2>
    <hr style="height: 2px; background-color: black;">

    <br>
    <br>

    <table style="table-layout: fixed;" class="table">
        <thead>
        <tr>
            <th style="width: 20%">제목</th>
            <th th:text="${board.getSubject()}" colspan="3">제목 들어갈 공간</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height:20px;">
            <th>작성자</th>
            <td th:text="${board.getRegisterMember()}" colspan="3">1</td>
        </tr>
        <tr>
            <th style="height:20px;">작성 날짜</th>
            <td th:text="${board.getRegisterDate()}" style="width: 60%;">2021-07-20</td>
            <th style="width: 5%; text-align: right;">조회수</th>
            <td th:text="${board.getViewCount()}">0</td>
        </tr>

        <tr>
            <td th:utext="${board.getContent()}" style="padding: 20px; word-wrap: break-word;" colspan="4">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</td>
        </tr>

        </tbody>
    </table>

    <div>
        <button type="button" class="btn btn-primary">수정하기</button>
        <button type="button" class="btn btn-primary">삭제하기</button>
        <button th:onclick="|location.href='@{/board/list}'|" style="float: right;" type="button" class="btn btn-primary">목록으로</button>
    </div>

</section>

</body>
</html>