<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>

    </style>
</head>
<body>

<nav th:replace="fragments/navbar :: nav"> navbar </nav>

<section class="board" style=" margin: auto; margin: 60px;">

    <h2>게시판</h2>
    <hr style="height: 2px; background-color: black;">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${list}">
            <th th:text="${board.seq}" scope="row">1</th>
            <td th:text="${board.registerMember}">Mark</td>
            <td th:text="${board.subject}">Otto</td>
            <td th:text="${board.registerDate}">2021-07-16</td>
            <td th:text="${board.viewCount}">조회수</td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: space-between;">

        <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/board/write}'|">글쓰기</button>

        <nav aria-label="Page navigation example">
            <ul style="margin: auto" class="pagination">
                <th:block th:if="${pi.getCurrentPage()} != 1">
                    <li class="page-item"><a class="page-link" href="#"
                                             th:href="@{/board/list(currentPage=1)}">처음</a></li>
                    <li class="page-item"><a class="page-link" href="#"
                                             th:href="@{/board/list(currentPage=${pi.getCurrentPage() - 1})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a></li>
                </th:block>

                <th:block th:each="num: ${#numbers.sequence(pi.getStartPage(),pi.getEndPage())}">
                    <li th:if="${pi.getCurrentPage()} eq ${num}" th:classappend="active" th:attr="aria-current=page" class="page-item">
                        <a th:text="${num}"
                           th:href="@{/board/list(currentPage=${num})}" class="page-link" href="#">1</a>
                    </li>
                    <li th:unless="${pi.getCurrentPage()} eq ${num}" class="page-item">
                        <a th:text="${num}"
                           th:href="@{/board/list(currentPage=${num})}" class="page-link" href="#">1</a>
                    </li>
                </th:block>

                <th:block th:if="${pi.getCurrentPage()} != ${pi.getMaxPage()}">

                    <li class="page-item"><a class="page-link" href="#"
                                             th:href="@{/board/list(currentPage=${pi.getCurrentPage() + 1})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a></li>
                    <li class="page-item"><a class="page-link" href="#"
                                             th:href="@{/board/list(currentPage=${pi.getMaxPage()})}">끝</a></li>
                </th:block>
            </ul>
        </nav>
    </div>

</section>

</body>
</html>