<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>

    </style>
</head>
<body>

<nav th:replace="fragments/navbar :: nav"> navbar </nav>

<section class="board" style=" margin: auto; margin-top: 100px; width: 60%;">

    <h2>게시판</h2>
    <hr style="height: 2px; background-color: black;">

    <br>
    <br>

    <table style="table-layout: fixed;" class="table">
        <thead>
        <tr>
            <th style="width: 20%">제목</th>
            <th th:text="${board.getSubject()}" colspan="3">제목 들어갈 공간</th>
        </tr>
        </thead>
        <tbody>
        <tr style="height:20px;">
            <th>작성자</th>
            <td th:text="${board.getRegisterMember()}" colspan="3">1</td>
        </tr>
        <tr>
            <th style="height:20px;">작성 날짜</th>
            <td th:text="${board.getRegisterDate()}" style="width: 60%;">2021-07-20</td>
            <th style="width: 5%; text-align: right;">조회수</th>
            <td th:text="${board.getViewCount()}">0</td>
        </tr>

        <tr>
            <td th:utext="${board.getContent()}" style="padding: 20px; word-wrap: break-word;" colspan="4">dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</td>
        </tr>

        </tbody>
    </table>
    <!-- th:onclick="|location.href='@{/board/list}'|" -->
    <div>
        <button th:if="${session.loginMember.getName()} eq ${board.getRegisterMember()}"
                th:onclick="|location.href='@{|/board/update/${board.getSeq()}|}'|" type="button" class="btn btn-primary">수정하기</button>
        <button th:if="${session.loginMember.getName()} eq ${board.getRegisterMember()}"
                th:onclick="|location.href='@{|/board/delete/${board.getSeq()}|}'|" type="button" class="btn btn-primary">삭제하기</button>
        <button th:onclick="|location.href='@{/board/list}'|" style="float: right;" type="button" class="btn btn-primary">목록으로</button>
    </div>

    <br>

    <table style="table-layout: fixed;" class="table">
        <thead>
        <tr>
            <th colspan="8" style="width: 100%; text-align: center;">댓글</th>
        </tr>
        </thead>
        <tbody id="commentTable">
        </tbody>
    </table>

    <br>

    <form method="post" action="" th:action>
        <div class="write-comment-form" style="margin-bottom: 100px;">
            <label for="exampleFormControlTextarea1">댓글 작성</label>
            <textarea class="form-control write-comment-area" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button style="float:right" type="button" class="btn btn-primary" id="write-comment">등록</button>
        </div>
    </form>


    <script th:inline="javascript">
        $(function(){
            var seq = [[${boardSeq}]];
            link = "comment/" + seq;

            getCommentList(link);

            $("#write-comment").on("click", function(){
                var content = $(".write-comment-area").val();
                var form = {"writer" : [[${session.loginMember.getName()}]], "content" : content}

                console.log(form);
                // 댓글 작성하기
                $.ajax({
                    url : link,
                    data : form,
                    type : "post",
                    success : function(data){
                        console.log(data);
                        if(data == "success"){
                            // 1. 등록 성공 시 다시 댓글 리스트 불러오기
                            getCommentList(link);
                            // 2. textarea의 글 없애기
                            $("#exampleFormControlTextarea1").val("");
                        } else if ("bindingError") {
                            alert("내용은 1자 이상 400자 이하로 적어주세요.");
                        }

                    },
                    error : function(e){
                        console.log(e);
                    }
                })
            }); // 댓글 입력

            $("#deleteComment").on("click", function(){

            });

        });

        function getCommentList(link){ // 댓글 조회하기 function

            var str = "";

            $.ajax({
                url : link,
                data : {},
                dataType : "json",
                success : function(data){

                    $tableBody = $("#commentTable");
                    $tableBody.html("");

                    /*$("#rCount").text("댓글("+data.length+")");*/

                    if(data.length > 0){
                        for(var i in data){
                            str += '<tr>';
                            str += '<th>' + data[i].writer + '</th>';
                            str += '<td colspan="6" style="width: 60%;"><div id="context-area-'+data[i].seq+'">' + data[i].content + '</div></td>';
                            str += '<td style="text-align: right;"><span>' + data[i].regDate + '</span>';

                            if(data[i].writer == [[${session.loginMember.getName()}]]) {
                                /* str += '<div class="btn-group me-2 comment-control" role="group" aria-label="First group">';
                                str += '<input id="comment-nummber" type="hidden" value="' + data[i].seq + '">'; */
                                str += '<div id="comment-button-area-'+data[i].seq+'">';
                                str += '<button onclick="updateCommentForm('+data[i].seq+')" type="button" class="btn btn-primary" style="margin-left: 5px; font-size: 8pt;">수정</button>';
                                str += '<button onclick="deleteComment('+data[i].seq+')" type="button" class="btn btn-primary" style="margin-left: 5px; font-size: 8pt;">삭제</button>';
                                str += '</div>';
                            }

                            str += '</td></tr>';

                        }
                    }else{
                        str += '<tr><td colspan="8">등록된 댓글이 없습니다</td></tr>';

                    }
                    $tableBody.append(str);

                },
                error : function(e){
                    console.log(e);
                }
            });
        }

        function updateCommentForm(seq) {
            var $link = $("#context-area-" + seq);
            var $buttonLink = $("#comment-button-area-" + seq);
            var str = "";

            $link.contents().unwrap().wrap('<textarea class="form-control" id="comment-update-area-'+seq+'"></textarea>');

            $buttonLink.html("");

            str += '<button onclick="updateComment('+seq+')" type="button" class="btn btn-primary" style="margin-left: 5px; font-size: 8pt;">저장</button>';
            str += '<button onclick="getCommentList(link)" type="button" class="btn btn-primary" style="margin-left: 5px; font-size: 8pt;">취소</button>';

            $buttonLink.append(str);

        }

        // 댓글 수정
        function updateComment(seq) {

            var ulink = "comment/update/" + seq;
            var context = {"writer" : [[${session.loginMember.getName()}]], "content" : document.getElementById("comment-update-area-" + seq).value};

            $.ajax({
                url: ulink,
                data: context,
                type : "post",
                success: function (data) {

                    getCommentList(link);
                },
                error : function(e){
                    console.log(e);
                }
            })

        }

        function deleteComment(seq) {

            var ulink = "comment/delete/" + seq;

            $.ajax({
                url: ulink,
                data: {},
                type : "post",
                success: function (data) {

                    getCommentList(link);
                },
                error : function(e){
                    console.log(e);
                }
            })

        }


    </script>
</section>


</body>
</html>