<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="fragments/navbar :: nav-header" />

    <style>

    </style>

    <!-- summernote resources -->
    <script src=""
            th:src="@{/js/summernote/summernote-lite.js}"></script>
    <script src=""
            th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
    <link rel="stylesheet" href=""
            th:href="@{/css/summernote/summernote-lite.css}">




</head>
<body>

<nav th:replace="fragments/navbar :: nav"> navbar </nav>

<section class="board" style=" margin: auto; margin: 60px;">

    <h2>게시글 작성</h2>
    <hr style="height: 2px; background-color: black;">
    <form method="post" action="" th:action th:object="${board}">

        <input type="hidden" class="form-control" value="ok" name="writer" th:value="${session.loginMember.getName()}">

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">제목</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력하세요"
                   th:field="*{subject}">
        </div>

        <div class="mb-3">
            <label for="summernote" class="form-label">내용</label>
            <textarea id="summernote" name="editordata"
                      th:field="*{context}"></textarea>
        </div>

        <div style="display: flex; float: right;">
            <button style="width: 100px; height: 70px; margin: 5px;" type="submit" class="btn btn-primary">작성하기</button>
            <button style="width: 100px; height: 70px; margin: 5px;" type="button" class="btn btn-primary" onclick="history.back(-1)">취소하기</button>
        </div>

    </form>

    <script>
        $(document).ready(function() {
            //여기 아래 부분
            $('#summernote').summernote({
                height: 300,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",					// 한글 설정
                placeholder: '내용을 입력하세요'	//placeholder 설정

            });
        });
    </script>

</section>

</body>
</html>